
<ion-header-bar align-title="center" >
 <a class="button icon-left ion-ios-arrow-left button-clear" ui-sref="tabs.user" nav-direction="forward"></a>
  <h1 class="title ">消息中心</h1>
</ion-header-bar>
<ion-content >
<div class="setting-main">
<div class="">
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <P><span style="font-size:14px;display:block;float:left;">名酒1号客服</span> <span style="display:block;float:right; font-size:10px;">昨天</span></P>
          <p style="font-size:12px;">亲，好的，还有什么需要帮助的么？</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/spengler.jpg">
          <P><span style="font-size:14px;display:block;float:left;">名酒1号客服</span> <span style="display:block;float:right; font-size:10px;">昨天</span></P>
          <p style="font-size:12px;">亲，好的，还有什么需要帮助的么？</p>
        </a>

      </div>
</div>
</ion-content>
