<ion-header-bar align-title="center" >
   <a class="button button-clear" ui-sref="mybalance" nav-direction="forward">
    <img src="image/我的03.gif" alt="" style="width:20px;position:relative;top:2px;"></a>
  <h1 class="title ">充值</h1>
  <a class="button button-clear" ui-sref="chat" nav-direction="forward">
    <img src="image/kf.png" alt="" style="width:25px;position:relative;top:2px;"></a>

</ion-header-bar>


<ionic-content>
    <style type="text/css" media="screen">
              body,p,span,div {margin :0px auto;  padding: 0px;}
     .recharge-div1{background-color: #f6f6f6; width: 100%; height: 100%; }
     .recharge-div2{width: 90%; height: 20%; background-color:#FC4A60; margin-left: 5%; margin-top: 10%;}
     .recharge-div3{width: 100%; height: 10%;  margin-top: 5%;}
     .recharge-div4{height:40px; background-color: #ffffff;}
     .recharge-span1{color: #ffffff;margin-left: 10%;float: left; line-height: 50px;}
     .recharge-span2{color: #ffffff;float: left; margin-top:15%;margin-left: -40%;}
     .recharge-span3{color: #E3E3E4; margin-left:10%;}
     .recharge-span4{color: #555555; margin-left:13%;}
     .recharge-imgs{float: right; width:31px; height: 31px; margin-right: 10%;margin-top: 8%;}
     .recharge-input1{height:20px; width:170px;  margin-top:-35px; margin-left:35%;}
     .recharge-div7{height:29px; margin-top:5%; margin-left:5%;}
     .recharge-a{width:95%;background-color:#FC4A60;color: #ffffff;display: block; height: 40px; text-align:center; font-size: 18px; line-height: 40px;}
    </style>
    <div class="recharge-div1">
        <div style="-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px" class="recharge-div2">
        <span class="recharge-span1">中国工商银行 借记卡</span>

        <span class="recharge-span2">*********12341654</span>
        

        <a href=""><img class="recharge-imgs" src="image/d.png"></a>
        </div>
        <div class="recharge-div3">
        <span class="recharge-span3">该卡本次最多可转入5000元</span>
       
         
        </div>

         <div class="recharge-div4">
                <span class="input-label recharge-span4"  >充值金额</span>
                <input class="recharge-input1" type="text" placeholder="建议转入100.00元以上金额">
           </div>

                   <div class="recharge-div7">
                <div >
                 <a href="" class="recharge-a">确认转入</a>
                </div>         
          </div> 
    </div>
</ionic-content>

