<ion-header-bar align-title="center" >
  <a class="button button-clear" ui-sref="setting" nav-direction="back" >
    <img src="image/我的03.gif" alt="" style="width:20px;position:relative;top:2px;"></a>
  <h1 class="title">修改密码</h1>
  <a class="button button-clear" ng-click="goToWeb('')">
    <img src="image/kf.png" alt="" style="width:25px;position:relative;top:2px;"></a>

</ion-header-bar>
<ion-content >
<style type="text/css">
    body,p,span,div {margin :0px auto;  padding: 0px;}
     .updatepassword-item-content2{height: 50px;padding-top:5px; margin-left: 10px;}
     .updatepassword-submit{height:28px; width:100px; color:#f6f6f6;}
     .updatepassword-div7{height:29px; margin-top:5%; margin-left:3%;}
     .updatepassword-span{margin-left:5%; padding-top:10px;}
     .updatepassword-span1{margin-left:5%; padding-top:10px;}
       .updatepassword-a{width:95%;background-color:#FC4A60;color: #ffffff;display: block; height: 40px; text-align:center; font-size: 18px; line-height: 40px;text-decoration:none; margin-top: 5%;}
     .updatepassword-div{height:45px; border-bottom:1px solid #d8d8d8;}
     .updatepassword-div1{ background-color:#ff6c09;height:34px; width:84px; float:right; float:bottom; margin-right:10px; margin-top:-37px;}
     .updatepassword-div2{height:45px;border-bottom:1px solid #d8d8d8;}
     .updatepassword-input{height:20px; width: 100px;  margin-top:-30px; margin-left:38%;}

</style>
<div >
           <div class="updatepassword-div2">
                <span class="input-label updatepassword-span1"  >当前密码:</span>
                <input  class="updatepassword-input" type="text" placeholder="8888">
           </div>
            <div class="updatepassword-div">

                <span class="input-label updatepassword-span"  >手机号码:</span>
                <input  class="updatepassword-input" type="text" placeholder="88888888888">
                <div class="col light updatepassword-div1">
            
            <a class="tab-item active">
                    获取验证码
                </a>
        </div>
            </div>
            <div class="updatepassword-div2">
                <span class="input-label updatepassword-span1"  >验证码:</span>
                <input  class="updatepassword-input" type="text" placeholder="8888">
           </div>
           <div class="updatepassword-div2">
                <span class="input-label updatepassword-span1"  >新密码:</span>
                <input  class="updatepassword-input" type="text" placeholder="8888">
           </div>
             <div class="updatepassword-div2">
                <span class="input-label updatepassword-span1"  >确认新密码:</span>
                <input  class="updatepassword-input" type="text" placeholder="8888">
           </div>
           <div class="updatepassword-div7">
                <div  >
                 <a href="" class="updatepassword-a">确认提交</a>
                </div>         
          </div>
          </div>
</ion-content >
