<ion-header-bar align-title="center" >
  <a class="button button-clear" ui-sref="tabs.user" nav-direction="forward">
    <img src="image/我的03.gif" alt="" style="width:25px;position:relative;top:2px;"></a>
  <h1 class="title ">用户反馈</h1>
  <a class="button button-clear" ui-sref="chat" nav-direction="forward">
    <img src="image/kf.png" alt="" style="width:25px;position:relative;top:2px;"></a>

</ion-header-bar>
<ion-content >
  <style>
      body,p,span,div {margin :0px auto;  padding: 0px;}
     .userfeedback-div1{background-color: #f6f6f6; width: 100%; height: 100%;border-top: 1px solid #d8d8d8;border-bottom:  : 1px solid #d8d8d8; }
     .userfeedback-div2{width: 90%; height: 30%; background-color:#ffffff; margin-left: 5%; margin-top: 10%;-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px}
    
     .userfeedback-div4{height:30%;  margin-top: 10%;}

     .userfeedback-span1{color: #6F6F6F;margin-left: 10%;float: left; line-height: 50px;}
     
     .userfeedback-span4{color: #555555; margin-left:13%; margin-top: 3%;}
     .userfeedback-imgs{float: right; width:31px; height: 31px; margin-right: 10%;margin-top: 8%;}


     .userfeedback-input1{ width:50%;  margin-top:-20px; margin-left:35%; background-color: #ffffff;}
     .userfeedback-div7{height:29px; margin-top:5%; margin-left:5%;}
     .userfeedback-a{width:95%;background-color:#FC4A60;color: #ffffff;display: block; height: 40px; text-align:center; font-size: 18px; line-height: 40px;  }
     .userfeedback-p{ height: 40px; font-size: 15px; }
     .content1{outline:none;}
  </style>
   <div class="userfeedback-div1">
        <div  class="userfeedback-div2 caption1" contenteditable="true">
        

        </div>
      

         <div class="userfeedback-div4">
          
             <p class="userfeedback-p"><span class=" userfeedback-span4">手机号码:</span>
             <input class="userfeedback-input1" style="height:25px;border:1px solid #999999;-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px" type="text" >
            </p>
             <p class="userfeedback-p"><span class=" userfeedback-span4">邮箱：</span>
              <input class="userfeedback-input1" style="height:25px;border:1px solid #999999;-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px" type="text" ></p>
             <p class="userfeedback-p" ><span class=" userfeedback-span4">QQ:</span>
              <input class="userfeedback-input1" style="height:25px;border:1px solid #999999;-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px" type="text" ></p>
               
           </div>

          <div class="userfeedback-div7">
                 <a href="#" class="userfeedback-a">提交</a>     
          </div> 
    </div>
</ion-content >

