
<ion-header-bar align-title="center" >
 <a class="button icon-left ion-ios-arrow-left button-clear" ui-sref="tabs.user" nav-direction="forward"></a>
  <h1 class="title ">账户设置</h1>
</ion-header-bar>
<ion-content >
<div class="setting-main">
    <div class="list">
    	<a class="item" href="#" style="height:100px;"><span class="setting-list-l" style="margin-top: 20px;">头像</span><span class="user-head"></span><span class="setting-list-r" style="margin-top: 20px;">&nbsp;&nbsp;<i class="ico ion-ios-arrow-right"></i></span></a>
        <a class="item" href="#"><span class="setting-list-l">昵称</span><span class="setting-list-r">toms&nbsp;&nbsp;<i class="ico ion-ios-arrow-right"></i></span></a>
        <a class="item" href="#"><span class="setting-list-l">性别</span><span class="setting-list-r">男&nbsp;&nbsp;<i class="ico ion-ios-arrow-right"></i></span></a>
        <a class="item" href="#"><span class="setting-list-l">出生年月</span><span class="setting-list-r">1999-9-9&nbsp;&nbsp;<i class="ico ion-ios-arrow-right"></i></span></a>
        <a class="item"   href="#/updatepassword" nav-direction="forward" style="margin-top:10px;"><span class="setting-list-l" >账户安全</span><span class="setting-list-r" ><span style="color:#999999;">可修改密码</span>&nbsp;&nbsp;<i class="ico ion-ios-arrow-right"></i></span></a>
        <a class="item"  href="#/manage-address" nav-direction="forward" style="margin-top:10px;margin-bottom:10px;"><span class="setting-list-l">收货地址</span><span class="setting-list-r">&nbsp;&nbsp;<i class="ico ion-ios-arrow-right"></i></span></a>
    </div>
</div>
</ion-content>
