<ion-view>
  <ion-header-bar align-title="center" >
     <a class="button icon-left ion-ios-arrow-left button-clear" ng-click="backGo()" nav-direction="back"></a>
    <h1 class="title">在线客服</h1>
  </ion-header-bar>
  <ion-content >
    <div class="chat-main">
      <ul id="chatlist"></ul>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-frosted">
    <label class="item-input-wrapper">
      <input class="item-input-wrapper" type="text" placeholder="输入要发送的内容" id="sendMsg" maxlength="200"  ng-model="sendContent" ng-focus='focused()' ng-blur="blurred()" >
    </label>
    <button class="button button-assertive" ng-disabled="!sendContent" ng-click="sendM('13774359217',sendContent)">
      发送
<!--       <i class="icon ion-chatbox-working"></i> -->
    </button>
  </ion-footer-bar>











<!--   <div class="tabs tabs-stable tabs-icon-top "  style="background-color:#ffffff;">
    <a class="tab-item">
      <img  style="width:40px;margin-top:5px;"  src="image/ddddd.png"></a>
    <input name="text" style="text-indent:1em; width:180px; height:35px;line-height:35px; border:1px solid #d8d8d8; margin-top:5px; -moz-border-radius: 6px;  -webkit-border-radius: 6px;  border-radius:6px;"   ng-model="sendContent" id="sendtext">
    <a class="tab-item">
      <img  style="width:40px;margin-top:5px;"  src="image/qqqqq.png"></a>
    <a class="tab-item" ng-click="sendM('13774359217',sendContent)">
      <img style="width:40px;margin-top:5px;" src="image/ssssss.png"></a>
  </div> -->
</ion-view>


