<ion-view >
<ion-header-bar align-title="center" style="background-color:#21292b;">
  <h1 class="title" style="color:#ffffff">夸克联盟</h1>
</ion-header-bar>
<ion-content >

    <div class="list-block">
        <div class="pro_list item-link" onclick="window.location.href = &#39;/Quark/Plan/10&#39;">
            <img src="image/kk_07.jpg" class="img-responsive img_full">
            <div class="pro_txt">
                <h4>夸克驾车风险互助计划</h4>
                <p>三者豪车车损50万、人伤30万互助金</p>
                <p>面向人群：C1、C2及以上驾照 <span class="split">|</span> 非营利性7座以下</p>
                <p style="padding-left:2.9rem">已购买20万以上商业三者险</p>
                <div class="pce"><span class="f12">￥</span>9.00</div>
            </div>
        </div>
    </div>

    <div class="list-block">
        <div class="pro_list item-link" onclick="window.location.href = &#39;/Quark/Plan/2&#39;">
            <img src="image/kk_01.jpg" class="img-responsive img_full">
            <div class="pro_txt">
                <h4>夸克1号中青年大病互助计划</h4>
                <p>60种重大疾病<span class="split">|</span>30万元互助金</p>
                <p>保障年龄：<span class="hui3">18-50周岁</span></p>
                <div class="pce"><span class="f12">￥</span>9.00</div>
            </div>
        </div>
    </div>
    <div class="list-block">
        <div class="pro_list item-link" onclick="window.location.href = &#39;/Quark/Plan/3&#39;">
            <img src="image/kk_02.jpg" class="img-responsive img_full">
            <div class="pro_txt">
                <h4>夸克2号少儿大病互助计划</h4>
                <p>走失及60种重大疾病<span class="split">|</span>30万元互助金</p>
                <p>保障年龄：<span class="hui3">出生后28天—17周岁</span></p>
                <div class="pce"><span class="f12">￥</span>9.00</div>
            </div>
        </div>
    </div>
    <div class="list-block">
        <div class="pro_list item-link" onclick="window.location.href = &#39;/Quark/Plan/9&#39;">
            <img src="image/kk_05.jpg" class="img-responsive img_full">
            <div class="pro_txt">
                <h4>夸克综合意外互助计划</h4>
                <p>意外身故/伤残30万元（航空意外100万元）</p>
                <p>保障年龄：<span class="hui3">出生后28天-70周岁</span></p>
                <div class="pce"><span class="f12">￥</span>9.00</div>
            </div>
        </div>
    </div>

    <div class="list-block">
        <div class="pro_list item-link" onclick="window.location.href = &#39;/Quark/Plan/5&#39;">
            <img src="image/kk_04.jpg" class="img-responsive img_full">
            <div class="pro_txt">
                <h4>夸克扶老太太爱心互助计划</h4>
                <p>做好事遇讹诈<span class="split">|</span>20万元互助金<span class="split">|</span>未成年免费</p>
                <p>保障年龄：<span class="hui3">所有人</span></p>
                <div class="pce"><span class="f12">￥</span>2.00</div>
            </div>
        </div>
    </div>
    <div class="list-block">
        <div class="pro_list item-link" onclick="javascript: location.href = &#39;/Quark/Plan/6&#39;">
            <img src="image/kk_06.jpg" class="img-responsive img_full">
            <div class="pro_txt">
                <h4>夸克女学生意外怀孕爱心互助计划</h4>
                <p>意外怀孕<span class="split">|</span>2000元互助金</p>
                <p>保障年龄：<span class="hui3">26周岁(含)以下在校女学生</span></p>
                <div class="pce"><span class="f12">￥</span>5.00</div>
            </div>
        </div>
    </div>
</ion-content>
</ion-view>