<ion-view>
<ion-header-bar align-title="center" style="background-color:#21292b;">
  <h1 class="title" style="color:#ffffff">关于</h1>
</ion-header-bar>


<ion-content>

    <div class="about_banner" style="background-color:red;"><img src="image/kk_about.png" class="img-responsive img_full" id="img_plan5"></div>
    <div class="list-block">
        <ul>
            <li>
                <a href="http://m.baobaoji.cn/Home/AboutQuarker" class="item-content item-link external">
                    <div class="item-inner">
                        <div class="item-title"><i class="about_ico about_ico2"></i>关于夸克</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.baobaoji.cn/Home/NewsList" class="item-content item-link external">
                    <div class="item-inner">
                        <div class="item-title"><i class="about_ico about_ico1"></i>新闻中心</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://m.baobaoji.cn/Home/Contact" class="item-content item-link external">
                    <div class="item-inner">
                        <div class="item-title"><i class="about_ico about_ico3"></i>联系我们</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</ion-content>
</ion-view>