<ion-header-bar align-title="center" style="background-color:#21292b;">
  <h1 class="title" style="color:#ffffff">会员中心</h1>
</ion-header-bar>

<ion-content >

    <div class="list-block media-list">
        <ul>
            <li>
                <a href="http://m.baobaoji.cn/MemberCenter/Home/UserInfoList" class="item-link external">
                    <div class="item-inner p0">

                        <div style="float:left;padding:.5rem"><img src="image/40" class="rad" style="width:3.5rem;"></div>
                        <div style="margin-top:.9rem;padding-left:1rem">
                            <span class="f20">
                                Tom 
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <div class="item-inner">
                    <div class="m_num">
                        <ul class="p0">
                            <li class="r_b" onclick="window.location.href = &#39;/MemberCenter/Quark/MyFriendList&#39;">
                                <h3 class="m_ico m_ico1"></h3>
                                好友
                            </li>
                            <li class="r_b" onclick="window.location.href = &#39;/MemberCenter/Quark/UserNoticeList&#39;">
                                <h3 class="m_ico m_ico2">
<i class="s_tip" style="display:none" id="show_icon"></i>                                </h3>
                                消息通知
                            </li>
                            <li onclick="window.location.href = &#39;/MemberCenter/Recommend/RecommendHB&#39;">
                                <h3 class="m_ico m_ico3">
                                </h3>
                                红包
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-block" onclick="window.location.href = &#39;/Recommend/Action_Car&#39;"><img src="image/autoinsurance_banner.jpg" class="img-responsive img_full"></div>
    <div class="list-block media-list">
        <ul>
            <li>
                <a href="http://m.baobaoji.cn/Quark/NotificationList" class="item-link external">
                    <div class="item-inner">
                        <div class="item-title"><i class="l_ico l_ico9"></i>互助公示</div>
                    </div>
                </a>
            </li>
                    <li>
                        <a href="http://m.baobaoji.cn/Quark/Notification?helpid=a1b4a6e2-878a-4e34-a535-282243433c44" class="item-content item-link external">
                            <div class="item-inner inner-p4">
                                <div class="item-title f14">KK20160200001期 互助事件公示 </div>
                                <div class="item-subtitle hui2 f12">
                                    互助对象：熊良松 (夸克1号中青年大病互助计划)
                                </div>
                                <div class="item-subtitle hui2 f12">
                                    互助金额：300000
                                </div>
                            </div>
                        </a>
                    </li>

        </ul>
    </div>
    <div class="list-block media-list">
        <ul>
            <li onclick="window.location.href = &#39;/MemberCenter/Quark/MyPlanList&#39;">
                <a href="http://m.baobaoji.cn/MemberCenter/Home/Index#" class="item-content item-link external">
                    <div class="item-media"><i class="l_ico l_ico1"></i></div>
                    <div class="item-inner">
                        <div class="item-title">我的夸克联盟</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    
    
    <div class="list-block">
        <ul class="q_menu">
            <li>
                <a href="http://m.baobaoji.cn/Help/QA" class="item-link external">
                    <i class="l_ico l_ico5"></i>
                    <p>帮助</p>
                </a>
            </li>
            <li>
                <a href="http://m.baobaoji.cn/Quark/Proposal" class="item-link external">
                    <i class="l_ico l_ico6"></i>
                    <p>提案</p>
                </a>
            </li>
            <li>
                <a href="http://m.baobaoji.cn/Home/AboutIndex" class="item-link external">
                    <i class="l_ico l_ico7"></i>
                    <p>关于</p>
                </a>
            </li>
            <li>
                <a href="http://chat10.live800.com/live800/chatClient/chatbox.jsp?companyID=467826&configID=230724&jid=4990024517" class="item-link external">
                    <i class="l_ico l_ico8"></i>
                    <p>客服</p>
                </a>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <a href="tel:400-630-7088" class="tel_400 external">
        400-630-7088
        <p class="f12">（工作日10：00-18：00）</p>
    </a>
    

</ion-content>